<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add manga</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/navbar.css" th:href="@{/navbar.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}">
    </script>
</head>
<body class="bg-light text-center">

<div th:replace="~{fragments/navbar::navigationbar(4)}"></div>

<div class="container mt-5">
    <form method="post" th:action="@{/addManga}" th:object="${mangaViewModel}" novalidate class="col-md-6 offset-md-3 bg-primary p-4 rounded">
        <label for="title">Title</label>
        <input type="text" class="form-control mb-2" id="title" name="title" required/>

        <label for="author">Author</label>
        <input type="text" class="form-control mb-2" id="author" name="author"/>

        <label for="chapters">Chapters</label>
        <input type="number" class="form-control mb-2" id="chapters" name="chapters" required/>

<!--        <label for="years">Years</label>-->
<!--        <input type="number" class="form-control mb-2" id="years" name="years" required/>-->

        <label for="written">Written date</label>
        <input type="date" class="form-control mb-2" id="written" name="written" required/>

        <label for="genre">Genre</label>
        <input type="text" class="form-control mb-2" id="genre" name="genre" required/>

        <label for="pricePerCopy">Price</label>
        <input type="number" class="form-control mb-2" id="pricePerCopy" name="pricePerCopy" required/>

        <div class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>

        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</div>

<div th:insert="~{fragments/navbar::footer}">Programming 3 Project</div>

</body>
</html>
