<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Session</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
  <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <link rel="stylesheet" type="text/css" media="all" href="../static/navbar.css" th:href="@{/navbar.css}"/>
  <link rel="stylesheet" type="text/css" media="all" href="../static/table.css" th:href="@{/table.css}"/>
</head>
<body class="bg-light text-center">
<div th:replace="~{fragments/navbar::navigationbar(7)}"></div>

<main>
  <table class="table">
    <tr><th>time</th>
      <th>url</th>
    </tr>
    <tr th:each="time, iter:${sessions}">
      <td th:text="${time}"></td>
      <td th:text="${url[iter.index]}"></td>
    </tr>
  </table>
</main>

<div th:insert="~{fragments/navbar::footer}">Programming 3, 2022</div>
</body>
</html>